{% extends 'base_index.html' %}

{% block pageHeader %}
    <header class="intro-header"
            style="background-image: url('{{ url_for('static',filename='theme/img/about-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">This is the introduction for the Halo Blog.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <p>This project is further developed by Group 5 from the XiaoBlog</p>
            <p>Have fun!!!</p>
        </div>
    </div>
{% endblock %}