{% extends 'base_index.html' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 blog-post post-list">
            {% for article in articles %}
                <div class="panel-small single-post box-shadow-wrap-normal" style="background-color:#eaeaea;border-radius: 20px;padding:10px;"> {# post-preview #}
                    <a href="/article/{{ article.id }}">
                        <h2 class="post-title" style="color:#000000;font-size:25px;font-weight:normal;font-family:SimHei;">
                            {{ article.title }}
                        </h2>
                        <h3 class="post-subtitle" style="color:#7e0404;font-size:20px;font-weight:normal;font-family:KaiTi;">
                            {{ article.content | safe | truncate(30) }}
                        </h3>
                    </a>
                    <p class="post-meta" style="color:#414141;font-size:15px;padding-left:20px;padding-top:0px;margin:0px;font-weight:normal;">Posted by <a href="#">ouyangm</a> {{ article.create_time }}</p>
                </div>
            {% endfor %}
            <!-- Pager -->
            <div class="clearfix">
                <input type="hidden" name="page" id="page" value="{{ paginate.page }}"/>
                <a class="btn btn-secondary float-right" onclick="next_page()">Older Posts</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ext_js %}
    <script>
        function next_page() {
            const page = parseInt($("#page").val());
            window.location.href = '{{ url_for('main.index')}}' + '?page=' + (page + 1);
        }
    </script>
{% endblock %}