{% extends 'base_index.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

<!-- Page Header -->
{% block pageHeader %}
    <header class="intro-header"
            style="background-image: url('{{ url_for('static',filename='theme/img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="site-heading">
                        <h1> tag: {{ category.name }} </h1>
                        <span class="subheading">Last modify [{{ category.create_time }}]</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="page-header">
{#        <p class="text-muted">{{ category.posts|length }} posts</p>#}
    </div>
    <div class="row">
        <div class="col-sm-8">
{#            {% include "article.html" %}#}
{#            <div class="page-footer">{{ render_pagination(pagination) }}</div>#}
        </div>
{#        <div class="col-sm-4 sidebar">#}
{#            {% include "blog/_sidebar.html" %}#}
{#        </div>#}
    </div>
{% endblock %}